button {
  outline: none;
  border: 0;
  cursor: pointer;
}
ul {
  padding: 0;
}
.navbar {
  font-size: 2.5rem;
  background-color: #1338be;
  color: white;
  padding: 1rem;
}
.navbar-title {
  margin-left: 0.5rem;
}
.navbar-total-count {
  margin-left: 1rem;
  background-color: light-gray;
  color: white;
  border-radius: 50%;
}
.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}
.habit-name {
}
.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.1rem 0.1rem 0.2rem 0.1rem;
  margin-left: 0.2rem;
  margin-right: 0.5rem;
  background-color: rgb(176, 41, 209);
  color: white;
  border: 2px solid black;
  border-radius: 50%;
}
.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  padding: 0.2rem 0.2rem 0.4rem 0.2rem;
  background-color: light-gray;
  border-radius: 10px;
}
.habit-button:hover {
  opacity: 0.8;
}
